/* line 3, ../sass/compare_page.sass */
html {
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/compare_page.sass */
html body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 13, ../sass/compare_page.sass */
html body .header {
  background-color: #3746de;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  border-bottom: 1px rgba(165, 165, 165, 0.25) solid;
  z-index: 5;
}
/* line 20, ../sass/compare_page.sass */
html body .header .header__menu-indicator-pushed {
  background-color: #095A98;
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 24, ../sass/compare_page.sass */
html body .header .header__menu-indicator {
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 27, ../sass/compare_page.sass */
html body .dropdown-menu {
  background-color: #3746de;
  z-index: 4;
}
/* line 31, ../sass/compare_page.sass */
html body .dropdown-menu .blur {
  display: none;
}
/* line 35, ../sass/compare_page.sass */
html body .list-head {
  display: block;
  position: relative;
  top: -60px;
  background-color: #3746de;
  height: auto;
}
/* line 42, ../sass/compare_page.sass */
html body .list-head .head__wrapper {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 75px;
  padding-bottom: 120px;
  text-align: center;
}
/* line 50, ../sass/compare_page.sass */
html body .list-head .head__wrapper .wrapper__text {
  color: #F2F5F7;
  text-transform: uppercase;
}
/* line 54, ../sass/compare_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs {
  display: block;
}
/* line 57, ../sass/compare_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor {
  display: inline-block;
}
/* line 61, ../sass/compare_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a {
  color: #bcb9b9;
  font-weight: 100;
  text-decoration: none;
}
/* line 66, ../sass/compare_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a:hover {
  color: #F2F5F7;
}
/* line 70, ../sass/compare_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .delimiter {
  display: inline-block;
  color: #bcb9b9;
  font-weight: 100;
}
/* line 76, ../sass/compare_page.sass */
html body .content {
  position: relative;
  z-index: 3;
  display: block;
  width: auto;
  margin: -120px 5% 90px 5%;
  background-color: white;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* line 86, ../sass/compare_page.sass */
html body .content .content__compare {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
/* line 92, ../sass/compare_page.sass */
html body .content .content__compare .compare__table {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 99, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 15%;
  float: left;
}
/* line 106, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__head {
  display: block;
  position: relative;
  height: 60px;
  text-align: center;
  border-bottom: 1px #efeaea solid;
  box-sizing: border-box;
}
/* line 114, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__head .head__reload-icon {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  width: 100%;
  height: 60px;
  text-align: center;
  color: #969696;
}
/* line 124, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__head .head__reload-icon i {
  cursor: pointer;
}
/* line 127, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
/* line 133, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__num-of-items {
  display: block;
  position: relative;
  width: 100%;
  text-align: -webkit-center;
  margin-top: 20px;
  box-sizing: border-box;
}
/* line 141, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__num-of-items span {
  display: block;
  text-align: center;
}
/* line 145, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__num-of-items .num {
  font-size: 3em;
  color: #095A98;
  margin-bottom: 20px;
}
/* line 150, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__num-of-items .descr {
  width: 9rem;
}
/* line 153, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__num-of-items .nav-buttons {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 60px;
}
/* line 160, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__num-of-items .nav-buttons .button-left {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.5em;
  cursor: pointer;
}
/* line 166, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__num-of-items .nav-buttons .button-right {
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}
/* line 171, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__specifications {
  display: block;
  margin-top: 20px;
  box-sizing: border-box;
  text-align: center;
}
/* line 178, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__specifications .colors {
  display: block;
  padding: 13px 0;
  border-top: 1px #c8c5c5 dotted;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}
/* line 186, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__legend .legend__container .container__specifications .specification {
  display: block;
  padding: 13px 0;
  margin: 0 auto;
  border-top: 1px #c8c5c5 dotted;
  box-sizing: border-box;
  width: 80%;
}
/* line 197, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main {
  display: inline-block;
  position: relative;
  width: auto;
  overflow: hidden;
  float: left;
  height: 100%;
  box-sizing: border-box;
}
/* line 206, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper {
  display: block;
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}
/* line 214, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main {
  float: left;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: auto;
  border-left: 1px #efeaea solid;
}
/* line 222, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__head {
  position: relative;
  display: block;
  height: 60px;
  text-align: center;
  border-bottom: 1px #efeaea solid;
  box-sizing: border-box;
}
/* line 230, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__head .head__remove-icon {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  width: 100%;
  height: 60px;
  color: #969696;
  text-align: center;
}
/* line 240, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__head .head__remove-icon i {
  cursor: pointer;
}
/* line 243, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
/* line 249, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .info {
  margin-top: 20px;
  text-align: center;
}
/* line 253, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .info .type {
  display: block;
  position: relative;
  color: #969696;
  font-size: 0.7em;
  text-transform: uppercase;
}
/* line 260, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .info .name {
  display: block;
  position: relative;
  margin-top: 5px;
}
/* line 265, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .info .name .brand {
  display: inline-block;
  position: relative;
}
/* line 268, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .info .name .model {
  display: inline-block;
  position: relative;
}
/* line 272, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .info .price {
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-top: 20px;
}
/* line 279, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .info .image {
  display: block;
  position: relative;
  width: 100%;
}
/* line 284, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .info .image img {
  width: 80%;
}
/* line 287, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .container__specifications {
  display: block;
  margin-top: 20px;
  text-align: center;
}
/* line 294, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .container__specifications .colors {
  display: block;
  padding: 9px 0;
  border-top: 1px #c8c5c5 dotted;
  width: 80%;
  margin: 0 auto;
}
/* line 302, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .container__specifications .colors .color {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 2px 5px;
  background-size: cover;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 313, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .container__specifications .colors .color .checked {
  display: none;
}
/* line 316, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .container__specifications .colors .color .checked .black {
  color: #000000;
}
/* line 319, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .container__specifications .colors .color .checked .white {
  color: #ffffff;
}
/* line 323, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .container__specifications .colors .active .checked {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 4px;
  font-size: 0.7em;
}
/* line 331, ../sass/compare_page.sass */
html body .content .content__compare .compare__table .table__main .main__wrapper .main .main__container .container__specifications .specification {
  display: block;
  padding: 13px 0;
  margin: 0 auto;
  border-top: 1px #c8c5c5 dotted;
  width: 80%;
}
