/* line 3, ../sass/list_page.sass */
html {
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/list_page.sass */
html body {
  margin: 0;
  padding: 0;
}
/* line 11, ../sass/list_page.sass */
html body .header {
  background-color: #3746de;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  border-bottom: 1px rgba(165, 165, 165, 0.25) solid;
  z-index: 5;
}
/* line 18, ../sass/list_page.sass */
html body .header .header__menu-indicator-pushed {
  background-color: #095A98;
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 22, ../sass/list_page.sass */
html body .header .header__menu-indicator {
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 25, ../sass/list_page.sass */
html body .dropdown-menu {
  background-color: #3746de;
  z-index: 4;
}
/* line 29, ../sass/list_page.sass */
html body .dropdown-menu .blur {
  display: none;
}
/* line 33, ../sass/list_page.sass */
html body .list-head {
  display: block;
  position: relative;
  top: -60px;
  background-color: #3746de;
  height: auto;
}
/* line 40, ../sass/list_page.sass */
html body .list-head .head__wrapper {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 75px;
  padding-bottom: 120px;
  text-align: center;
}
/* line 48, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__text {
  color: #F2F5F7;
  text-transform: uppercase;
}
/* line 52, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs {
  display: block;
}
/* line 55, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor {
  display: inline-block;
}
/* line 59, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a {
  color: #bcb9b9;
  font-weight: 100;
  text-decoration: none;
}
/* line 64, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a:hover {
  color: #F2F5F7;
}
/* line 68, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .delimiter {
  display: inline-block;
  color: #bcb9b9;
  font-weight: 100;
}
/* line 74, ../sass/list_page.sass */
html body .content {
  position: relative;
  z-index: 3;
  display: block;
  width: auto;
  margin: -120px 5% 60px 5%;
  background-color: white;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* line 87, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types {
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  /* line 87, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__types {
    display: none;
  }
}
/* line 97, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left {
  display: block;
  position: relative;
  float: left;
  width: 60%;
  height: 300px;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4096ee+0,60abf8+56,7abcff+100 */
  background: #4096ee;
  background: -moz-linear-gradient(left, #4096ee 0%, #60abf8 56%, #7abcff 100%);
  background: -webkit-linear-gradient(left, #4096ee 0%, #60abf8 56%, #7abcff 100%);
  background: linear-gradient(to right, #4096ee 0%, #60abf8 56%, #7abcff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#7abcff',GradientType=1 );
}
/* line 110, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info {
  display: block;
  position: relative;
  float: left;
  width: 40%;
  text-align: center;
  margin-top: 50px;
}
/* line 118, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info .info__name {
  display: block;
  position: relative;
  margin-top: 30px;
  color: #F2F5F7;
  text-transform: uppercase;
}
/* line 125, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info .info__button {
  display: block;
  position: relative;
  margin: 100px auto 0;
  width: inherit;
  padding: 10px 20px;
  text-align: center;
  color: #F2F5F7;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* line 138, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info .info__button span {
  width: 100%;
}
/* line 141, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info .info__button:hover {
  transition: all 0.15s ease-in;
  transform: scale(1.1);
}
/* line 146, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__image {
  display: block;
  position: relative;
  float: right;
  height: 100%;
  margin-right: 10vw;
}
@media screen and (max-width: 980px) {
  /* line 146, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__types .types__left .left__image {
    margin-right: 2px;
  }
}
/* line 157, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__image img {
  display: block;
  height: 100%;
}
/* line 163, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right {
  display: block;
  position: relative;
  float: right;
  width: 40%;
  height: 300px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4096ee+0,60abf8+56,7abcff+100 */
  background: -moz-linear-gradient(302deg, #422fe1 0%, #7f6fef 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #422fe1), color-stop(100%, #7f6fef));
  background: -webkit-linear-gradient(302deg, #422fe1 0%, #7f6fef 100%);
  background: -o-linear-gradient(302deg, #422fe1 0%, #7f6fef 100%);
  background: -ms-linear-gradient(302deg, #422fe1 0%, #7f6fef 100%);
  background: linear-gradient(148deg, #422fe1 0%, #7f6fef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422FE1', endColorstr='#7F6FEF',GradientType=0 );
}
/* line 178, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info {
  display: block;
  position: relative;
  float: left;
  width: 40%;
  text-align: center;
  margin-top: 50px;
}
/* line 186, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info .info__name {
  display: block;
  position: relative;
  margin-top: 30px;
  color: #F2F5F7;
  text-transform: uppercase;
}
/* line 193, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info .info__button {
  display: block;
  position: relative;
  margin: 100px auto 0;
  width: inherit;
  padding: 10px 20px;
  text-align: center;
  color: #F2F5F7;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* line 206, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info .info__button span {
  width: 100%;
}
/* line 210, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info .info__button:hover {
  transition: all 0.15s ease-in;
  transform: scale(1.1);
}
/* line 214, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__image {
  display: block;
  position: absolute;
  float: right;
  height: 63%;
  bottom: 20%;
  right: 6%;
  margin-right: 20px;
}
@media screen and (max-width: 980px) {
  /* line 214, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__types .types__right .right__image {
    bottom: 10%;
    right: 0;
  }
}
/* line 227, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__image img {
  display: block;
  height: 100%;
}
@media screen and (max-width: 980px) {
  /* line 227, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__types .types__right .right__image img {
    height: 70%;
  }
}
/* line 235, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head {
  display: block;
  position: relative;
  overflow: visible;
  width: 100%;
  height: 60px;
  border-bottom: 1px #efeaea solid;
}
/* line 244, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  border-right: 1px #efeaea solid;
  float: left;
}
/* line 252, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter span {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  width: auto;
  height: 60px;
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-left: calc(13vw - 54px);
}
/* line 264, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter .filter__refresh {
  width: 15%;
  display: inline-block;
  position: relative;
  float: right;
}
@media screen and (max-width: 1135px) {
  /* line 264, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__filter .filter__refresh {
    display: none;
  }
}
/* line 273, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter .filter__refresh i {
  color: #095A98;
  display: block;
  position: relative;
  margin-top: 22px;
  width: 100%;
  height: 60px;
  text-align: start;
  margin-left: 10px;
  font-size: 1em;
  text-transform: uppercase;
}
/* line 285, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort {
  position: relative;
  display: inline-block;
  width: 25%;
  min-width: 255px;
  height: 100%;
  border-right: 1px #efeaea solid;
  float: left;
}
@media screen and (max-width: 1135px) {
  /* line 285, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__sort {
    min-width: 0;
  }
}
/* line 299, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 307, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__label {
  width: 47%;
  display: inline-block;
  position: relative;
  float: left;
}
@media screen and (max-width: 1135px) {
  /* line 307, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__label {
    display: none;
  }
}
/* line 317, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__label span {
  display: block;
  position: relative;
  margin-top: 23px;
  top: 50%;
  width: 100%;
  height: 60px;
  text-align: start;
  margin-left: 20px;
  font-size: 0.6em;
  text-transform: uppercase;
}
/* line 331, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value {
  width: 53%;
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 17px;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 1135px) {
  /* line 331, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value {
    width: 100%;
  }
}
/* line 343, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value:hover {
  background-color: rgba(0, 136, 255, 0.35);
}
/* line 346, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value span {
  display: inline;
  position: relative;
  margin-top: 21px;
  padding-left: 10px;
  top: 50%;
  width: 100%;
  height: 60px;
  text-align: start;
  font-size: 0.8em;
}
/* line 357, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value i {
  color: #095A98;
  display: inline;
  text-align: end;
  position: relative;
  width: auto;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: -2px;
}
/* line 369, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__drop {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  top: 60px;
  right: 0;
  z-index: 4;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
/* line 379, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__drop .drop__menu {
  display: block;
  padding: 0;
}
/* line 383, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__drop .drop__menu .menu__item {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 0.8em;
}
/* line 390, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__drop .drop__menu .checked {
  color: #52AFEB;
  text-decoration: underline;
}
/* line 394, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .drop {
  display: block;
}
/* line 399, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  border-right: 1px #efeaea solid;
  float: left;
}
/* line 407, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 415, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__label {
  width: 47%;
  display: inline-block;
  position: relative;
  float: left;
}
@media screen and (max-width: 1135px) {
  /* line 415, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__label {
    display: none;
  }
}
/* line 425, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__label span {
  display: block;
  position: relative;
  margin-top: 23px;
  top: 50%;
  width: 100%;
  height: 60px;
  text-align: start;
  margin-left: 20px;
  font-size: 0.6em;
  text-transform: uppercase;
}
/* line 439, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value {
  width: 53%;
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 17px;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 1135px) {
  /* line 439, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value {
    width: 100%;
  }
}
/* line 451, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value:hover {
  background-color: rgba(0, 136, 255, 0.35);
}
/* line 454, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value span {
  display: inline;
  position: relative;
  margin-top: 21px;
  padding-left: 10px;
  top: 50%;
  width: 100%;
  height: 60px;
  text-align: start;
  font-size: 0.8em;
}
/* line 465, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value i {
  color: #095A98;
  display: inline;
  text-align: end;
  position: relative;
  width: auto;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: -2px;
}
/* line 477, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__drop {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  top: 60px;
  right: 0;
  z-index: 4;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
/* line 487, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__drop .drop__menu {
  display: block;
  padding: 0;
}
/* line 491, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__drop .drop__menu .menu__item {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 0.8em;
}
/* line 498, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__drop .drop__menu .checked {
  color: #52AFEB;
  text-decoration: underline;
}
/* line 502, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .drop {
  display: block;
}
/* line 505, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare {
  position: relative;
  display: inline-block;
  width: calc(25% - 3px);
  height: 100%;
  float: left;
}
@media screen and (max-width: 1135px) {
  /* line 505, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__compare {
    width: 16.5%;
    text-align: center;
  }
}
/* line 518, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container {
  display: block;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
/* line 525, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container span {
  display: inline-block;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-left: calc(13vw - 67px);
}
@media screen and (max-width: 1135px) {
  /* line 525, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container span {
    margin-left: 10px;
    font-size: 0.5em;
  }
}
/* line 535, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container .circle {
  display: inline-block;
  width: 19px;
  background-color: #095A98;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 1135px) {
  /* line 535, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container .circle {
    margin-left: 5px;
  }
}
/* line 548, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container .circle span {
  padding: 1px;
  font-size: 0.85em;
  color: #F2F5F7;
  margin: 0;
}
/* line 554, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters {
  display: block;
  position: relative;
  width: 25%;
  height: auto;
  border-right: 1px #efeaea solid;
}
/* line 561, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .open-icon, html body .content .content__wrapper .wrapper__main .main__filters .close-icon, html body .content .content__wrapper .wrapper__main .main__filters .head__name {
  display: inline-block;
  cursor: pointer;
}
/* line 565, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__general {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px #efeaea solid;
}
/* line 571, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__general .filter__head {
  display: block;
  position: relative;
  padding: 10px;
}
/* line 578, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__general .filter__head .head__name {
  font-size: 0.7em;
  text-transform: uppercase;
  padding-left: 10px;
}
/* line 583, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .general__body {
  display: block;
  position: relative;
  width: 100%;
}
/* line 588, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .general__body .body__list {
  display: none;
  list-style-type: none;
  padding: 0;
}
/* line 593, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .general__body .body__list .list__items {
  display: block;
  padding-bottom: 5px;
}
/* line 596, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .general__body .body__list .list__items .item {
  list-style-type: none;
  padding-left: 35px;
  overflow: hidden;
  font-size: 0.7em;
  cursor: pointer;
}
/* line 603, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .general__body .body__list .list__items .item .item__name, html body .content .content__wrapper .wrapper__main .main__filters .general__body .body__list .list__items .item .item__quantity {
  display: inline-block;
}
/* line 606, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .general__body .body__list .list__items .item .item__name {
  float: left;
}
/* line 609, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .general__body .body__list .list__items .item .item__quantity {
  float: right;
  padding-right: 35px;
}
/* line 613, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .general__body .body__list .checked {
  color: #52AFEB;
}
/* line 617, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__price {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px #efeaea solid;
}
/* line 623, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__price .filter__head {
  display: block;
  position: relative;
  padding: 10px;
}
/* line 630, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__price .filter__head .head__name {
  font-size: 0.7em;
  text-transform: uppercase;
  padding-left: 10px;
}
/* line 635, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__price .price__body {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
/* line 642, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__price .price__body .price__range {
  display: block;
  position: relative;
  width: 100%;
}
/* line 648, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors {
  display: block;
  position: relative;
  width: 100%;
}
/* line 653, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors .filter__head {
  display: block;
  position: relative;
  padding: 10px;
}
/* line 658, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors .filter__head .head__name {
  font-size: 0.7em;
  text-transform: uppercase;
  padding-left: 10px;
}
/* line 664, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors .colors__body {
  display: block;
  position: relative;
  width: 80%;
  max-width: 245px;
  padding: 20px 35px;
}
/* line 672, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors .colors__body .body__list {
  display: none;
}
/* line 675, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors .colors__body .body__list .colors-container {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 2px 5px;
  background-size: cover;
  vertical-align: middle;
  cursor: pointer;
}
/* line 685, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors .colors__body .body__list .colors-container .color-check {
  display: none;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 9px;
  font-size: 0.7em;
}
/* line 693, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors .colors__body .body__list .colors-container .black {
  color: #000000;
}
/* line 696, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors .colors__body .body__list .colors-container .white {
  color: #ffffff;
}
/* line 700, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .filters__colors .colors__body .body__list .checked .color-check {
  display: block;
}
/* line 706, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .opened .filter__head .open-icon {
  display: none;
}
/* line 711, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .opened .f-body .body__list {
  display: block;
}
/* line 721, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .minimized .filter__head .close-icon {
  display: none;
}
/* line 724, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .minimized .body__list {
  display: none;
}
/* line 727, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__filters .minimized .general__body, html body .content .content__wrapper .wrapper__main .main__filters .minimized .price__body, html body .content .content__wrapper .wrapper__main .main__filters .minimized .colors__body {
  display: none;
}
