@font-face {
  font-family: "Arsenal";
  src: url("../../fonts/Arsenal/Arsenal-Regular.ttf");
}
@font-face {
  font-family: "ArsenalBold";
  src: url("../../fonts/Arsenal/Arsenal-Bold.ttf");
}
/* line 3, ../sass/list_page.sass */
html {
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/list_page.sass */
html body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 13, ../sass/list_page.sass */
html body .header {
  background-color: #5b5b5b;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  border-bottom: 1px rgba(165, 165, 165, 0.25) solid;
  z-index: 5;
}
/* line 20, ../sass/list_page.sass */
html body .header .header__menu-indicator-pushed {
  background-color: #4c4c4c;
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 24, ../sass/list_page.sass */
html body .header .header__menu-indicator {
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 27, ../sass/list_page.sass */
html body .dropdown-menu {
  background-color: #5b5b5b;
  z-index: 4;
}
/* line 31, ../sass/list_page.sass */
html body .dropdown-menu .blur {
  display: none;
}
/* line 35, ../sass/list_page.sass */
html body .list-head {
  display: block;
  position: relative;
  top: -60px;
  background-color: #5b5b5b;
  height: auto;
}
/* line 42, ../sass/list_page.sass */
html body .list-head .head__wrapper {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 75px;
  padding-bottom: 120px;
  text-align: center;
}
/* line 50, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__text {
  color: #F2F5F7;
  text-transform: uppercase;
}
/* line 54, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs {
  display: block;
}
/* line 57, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor {
  display: inline-block;
}
/* line 61, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a {
  color: #bcb9b9;
  font-weight: 100;
  text-decoration: none;
}
/* line 66, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a:hover {
  color: #F2F5F7;
}
/* line 70, ../sass/list_page.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .delimiter {
  display: inline-block;
  color: #bcb9b9;
  font-weight: 100;
}
/* line 76, ../sass/list_page.sass */
html body .content {
  position: relative;
  z-index: 3;
  display: block;
  width: auto;
  margin: -120px 5% 90px 5%;
  background-color: white;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* line 89, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types {
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  /* line 89, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__types {
    display: none;
  }
}
/* line 99, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left {
  display: block;
  position: relative;
  float: left;
  width: 60%;
  height: 300px;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4096ee+0,60abf8+56,7abcff+100 */
  background: #4096ee;
  background: -moz-linear-gradient(left, #4096ee 0%, #60abf8 56%, #7abcff 100%);
  background: -webkit-linear-gradient(left, #4096ee 0%, #60abf8 56%, #7abcff 100%);
  background: linear-gradient(to right, #4096ee 0%, #60abf8 56%, #7abcff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#7abcff',GradientType=1 );
}
/* line 112, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info {
  display: block;
  position: relative;
  float: left;
  width: 40%;
  text-align: center;
  margin-top: 50px;
}
/* line 120, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info .info__name {
  display: block;
  position: relative;
  margin-top: 30px;
  color: #F2F5F7;
  text-transform: uppercase;
}
/* line 127, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info .info__button {
  display: block;
  position: relative;
  margin: 100px auto 0;
  width: inherit;
  padding: 10px 20px;
  text-align: center;
  color: #F2F5F7;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* line 140, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info .info__button span {
  width: 100%;
}
/* line 143, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__info .info__button:hover {
  transition: all 0.15s ease-in;
  transform: scale(1.1);
}
/* line 148, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__image {
  display: block;
  position: relative;
  float: right;
  height: 100%;
  margin-right: 10vw;
}
@media screen and (max-width: 980px) {
  /* line 148, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__types .types__left .left__image {
    margin-right: 2px;
  }
}
/* line 159, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__left .left__image img {
  display: block;
  height: 100%;
}
/* line 165, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right {
  display: block;
  position: relative;
  float: right;
  width: 40%;
  height: 300px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4096ee+0,60abf8+56,7abcff+100 */
  background: -moz-linear-gradient(302deg, #422fe1 0%, #7f6fef 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #422fe1), color-stop(100%, #7f6fef));
  background: -webkit-linear-gradient(302deg, #422fe1 0%, #7f6fef 100%);
  background: -o-linear-gradient(302deg, #422fe1 0%, #7f6fef 100%);
  background: -ms-linear-gradient(302deg, #422fe1 0%, #7f6fef 100%);
  background: linear-gradient(148deg, #422fe1 0%, #7f6fef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422FE1', endColorstr='#7F6FEF',GradientType=0 );
}
/* line 180, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info {
  display: block;
  position: relative;
  float: left;
  width: 40%;
  text-align: center;
  margin-top: 50px;
}
/* line 188, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info .info__name {
  display: block;
  position: relative;
  margin-top: 30px;
  color: #F2F5F7;
  text-transform: uppercase;
}
/* line 195, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info .info__button {
  display: block;
  position: relative;
  margin: 100px auto 0;
  width: inherit;
  padding: 10px 20px;
  text-align: center;
  color: #F2F5F7;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* line 208, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info .info__button span {
  width: 100%;
}
/* line 212, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__info .info__button:hover {
  transition: all 0.15s ease-in;
  transform: scale(1.1);
}
/* line 216, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__image {
  display: block;
  position: absolute;
  float: right;
  height: 63%;
  bottom: 20%;
  right: 6%;
  margin-right: 20px;
}
@media screen and (max-width: 980px) {
  /* line 216, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__types .types__right .right__image {
    bottom: 10%;
    right: 0;
  }
}
/* line 229, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__types .types__right .right__image img {
  display: block;
  height: 100%;
}
@media screen and (max-width: 980px) {
  /* line 229, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__types .types__right .right__image img {
    height: 70%;
  }
}
/* line 236, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main {
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 241, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head {
  display: block;
  position: relative;
  overflow: visible;
  width: 100%;
  height: 60px;
  border-bottom: 1px #efeaea solid;
  box-sizing: border-box;
}
/* line 250, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  border-right: 1px #efeaea solid;
  float: left;
  box-sizing: border-box;
}
/* line 259, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter span {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  width: auto;
  height: 60px;
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-left: 60px;
}
/* line 271, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter .filter__refresh {
  top: 50%;
  margin-top: -1.125em;
  width: 35%;
  display: inline-block;
  position: relative;
  float: right;
}
@media screen and (max-width: 1135px) {
  /* line 271, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__filter .filter__refresh {
    display: none;
  }
}
/* line 282, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter .filter__refresh p {
  font-size: 0.7em;
  text-transform: uppercase;
  display: inline-block;
}
/* line 288, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter .filter__refresh a {
  margin-left: 10px;
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
/* line 294, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__filter .filter__refresh a i {
  display: block;
  position: relative;
  margin: 0;
  width: 80%;
  height: 22px;
  text-align: start;
  font-size: 1em;
  text-transform: uppercase;
  color: #ff2a39;
  cursor: pointer;
}
/* line 307, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort {
  position: relative;
  display: inline-block;
  width: 25%;
  min-width: 255px;
  height: 100%;
  border-right: 1px #efeaea solid;
  float: left;
  box-sizing: border-box;
}
@media screen and (max-width: 1135px) {
  /* line 307, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__sort {
    min-width: 0;
  }
}
/* line 322, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 330, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__label {
  width: 42%;
  display: inline-block;
  position: relative;
  float: left;
}
@media screen and (max-width: 1135px) {
  /* line 330, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__label {
    display: none;
  }
}
/* line 340, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__label span {
  display: block;
  position: relative;
  margin-top: 23px;
  top: 50%;
  width: 100%;
  height: 60px;
  text-align: start;
  margin-left: 20px;
  font-size: 0.6em;
  text-transform: uppercase;
}
/* line 354, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value {
  width: 58%;
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 1135px) {
  /* line 354, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value {
    width: 100%;
  }
}
/* line 366, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value:hover {
  background-color: rgba(0, 136, 255, 0.35);
}
/* line 369, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value span {
  display: inline;
  position: relative;
  margin-top: 21px;
  padding-left: 10px;
  top: 50%;
  width: 100%;
  height: 60px;
  text-align: start;
  font-size: 0.8em;
}
/* line 380, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__container .container__value i {
  color: #4c4c4c;
  display: inline;
  text-align: end;
  position: relative;
  width: auto;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: -2px;
}
/* line 392, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__drop {
  display: none;
  position: absolute;
  width: auto;
  background-color: white;
  height: auto;
  top: 60px;
  right: 0;
  z-index: 12;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
/* line 404, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__drop .drop__menu {
  display: block;
  padding: 0;
}
/* line 408, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__drop .drop__menu .menu__item {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 0.8em;
}
/* line 415, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .sort__drop .drop__menu .checked {
  color: #52afeb;
  text-decoration: underline;
}
/* line 419, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__sort .drop {
  display: block;
}
/* line 424, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  border-right: 1px #efeaea solid;
  float: left;
  box-sizing: border-box;
}
/* line 433, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 441, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__label {
  width: 54%;
  display: inline-block;
  position: relative;
  float: left;
}
@media screen and (max-width: 1135px) {
  /* line 441, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__label {
    display: none;
  }
}
/* line 451, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__label span {
  display: block;
  position: relative;
  margin-top: 23px;
  top: 50%;
  width: auto;
  height: 60px;
  text-align: start;
  margin-left: 20px;
  font-size: 0.6em;
  text-transform: uppercase;
}
/* line 465, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value {
  width: 46%;
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 1135px) {
  /* line 465, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value {
    width: 100%;
  }
}
/* line 477, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value:hover {
  background-color: rgba(0, 136, 255, 0.35);
}
/* line 480, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value span {
  display: inline;
  position: relative;
  margin-top: 21px;
  padding-left: 10px;
  top: 50%;
  width: 100%;
  height: 60px;
  text-align: start;
  font-size: 0.8em;
}
/* line 491, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__container .container__value i {
  color: #4c4c4c;
  display: inline;
  text-align: end;
  position: relative;
  width: auto;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: -2px;
}
/* line 503, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__drop {
  display: none;
  position: absolute;
  background-color: white;
  width: auto;
  height: auto;
  top: 60px;
  right: 0;
  z-index: 12;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
/* line 514, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__drop .drop__menu {
  display: block;
  padding: 0;
}
/* line 518, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__drop .drop__menu .menu__item {
  display: block;
  list-style-type: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 0.8em;
}
/* line 526, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .num-of-items__drop .drop__menu .checked {
  color: #52afeb;
  text-decoration: underline;
}
/* line 530, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__num-of-items .drop {
  display: block;
}
/* line 533, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
@media screen and (max-width: 1135px) {
  /* line 533, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__compare {
    width: 16.5%;
    text-align: center;
  }
}
/* line 547, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container {
  display: block;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
/* line 554, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container span {
  display: inline-block;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-left: calc(13vw - 67px);
}
@media screen and (max-width: 1135px) {
  /* line 554, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container span {
    margin-left: 10px;
    font-size: 0.5em;
  }
}
/* line 564, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container .circle {
  display: inline-block;
  width: 19px;
  background-color: #4c4c4c;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 1135px) {
  /* line 564, ../sass/list_page.sass */
  html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container .circle {
    margin-left: 5px;
  }
}
/* line 577, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__head .head__compare .compare__container .circle span {
  padding: 1px;
  font-size: 0.85em;
  color: #F2F5F7;
  margin: 0;
}
/* line 583, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 589, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters {
  display: block;
  float: left;
  position: relative;
  width: calc(25% - 1px);
  height: auto;
  border-bottom: 1px #efeaea solid;
  box-sizing: border-box;
}
/* line 600, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .open-icon, html body .content .content__wrapper .wrapper__main .main__content .content__filters .close-icon, html body .content .content__wrapper .wrapper__main .main__content .content__filters .head__name {
  display: inline-block;
  cursor: pointer;
}
/* line 604, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__general {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px #efeaea solid;
}
/* line 610, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__general .filter__head {
  display: block;
  position: relative;
  padding: 10px;
}
/* line 617, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__general .filter__head .head__name {
  font-size: 0.7em;
  text-transform: uppercase;
  padding-left: 10px;
}
/* line 622, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .general__body {
  display: block;
  position: relative;
  width: 100%;
}
/* line 627, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .general__body .body__list {
  display: none;
  list-style-type: none;
  padding: 0;
}
/* line 632, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .general__body .body__list .list__items {
  display: block;
  padding-bottom: 5px;
}
/* line 635, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .general__body .body__list .list__items .item {
  list-style-type: none;
  padding-left: 35px;
  overflow: hidden;
  font-size: 0.85em;
}
/* line 642, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .general__body .body__list .list__items .item .item__name, html body .content .content__wrapper .wrapper__main .main__content .content__filters .general__body .body__list .list__items .item .item__quantity {
  display: inline-block;
}
/* line 645, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .general__body .body__list .list__items .item .item__name {
  float: left;
  cursor: pointer;
}
/* line 649, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .general__body .body__list .list__items .item .item__quantity {
  float: right;
  padding-right: 35px;
}
/* line 653, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .general__body .body__list .checked {
  color: #52afeb;
}
/* line 657, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px #efeaea solid;
}
/* line 663, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .filter__head {
  display: block;
  position: relative;
  padding: 10px;
}
/* line 668, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .filter__head .head__name {
  font-size: 0.7em;
  text-transform: uppercase;
  padding-left: 10px;
}
/* line 673, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
/* line 681, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .body__list .inputs {
  width: 75%;
  display: block;
}
/* line 685, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .body__list .inputs input {
  display: inline-block;
  position: relative;
  width: 25%;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  color: #959595;
  border: 1px #a4a2a2 solid;
  text-align: center;
  outline-style: none;
}
/* line 699, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .body__list .inputs input:focus {
  border: 2px #a4a2a2 solid;
  font-size: 0.8em;
  color: #000000;
  box-shadow: 0 0px 19px rgba(175, 175, 175, 0.9);
}
/* line 705, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .body__list .inputs label {
  font-size: 0.8em;
}
/* line 708, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .body__list .inputs .max-price {
  margin-left: 5px;
}
/* line 710, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .body__list .ui-widget-content {
  width: 75%;
  margin: 20px 20px 30px 0;
  background: #efeaea;
  border: none;
  font-size: 0.3em;
}
/* line 717, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .body__list .ui-widget-content .ui-widget-header {
  background: #4c4c4c;
}
/* line 720, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .body__list .ui-widget-content .ui-corner-all {
  border-radius: 10px;
}
/* line 723, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .body__list .ui-widget-content .ui-slider-handle {
  font-size: 2.3em;
  top: -0.45em;
  outline-style: none;
  box-shadow: 2px 2px 7px rgba(55, 55, 55, 0.5);
}
/* line 729, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .price__range {
  display: block;
  position: relative;
  width: 100%;
}
/* line 734, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .submit {
  text-decoration: none;
  display: none;
  position: relative;
  width: 32%;
}
/* line 740, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .submit .submit-price-button {
  position: relative;
  display: block;
  background-color: #74d36b;
  width: 100%;
  height: 26px;
  padding-top: 7px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
}
/* line 753, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .submit .submit-price-button p {
  position: relative;
  display: block;
  color: #F2F5F7;
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 0;
}
/* line 761, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .submit-visible {
  display: inline-block;
}
/* line 764, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .reset {
  text-decoration: none;
  display: none;
  position: relative;
  width: 32%;
  margin-left: 5px;
}
/* line 771, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .reset .reset-price-button {
  position: relative;
  display: block;
  background-color: #d32e2c;
  width: 100%;
  height: 26px;
  padding-top: 7px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
}
/* line 784, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .reset .reset-price-button p {
  position: relative;
  display: block;
  color: #F2F5F7;
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 0;
}
/* line 792, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__price .price__body .reset-visible {
  display: inline-block;
}
/* line 797, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors {
  display: block;
  position: relative;
  width: 100%;
}
/* line 802, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .filter__head {
  display: block;
  position: relative;
  padding: 10px;
}
/* line 807, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .filter__head .head__name {
  font-size: 0.7em;
  text-transform: uppercase;
  padding-left: 10px;
}
/* line 813, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body {
  display: block;
  position: relative;
  z-index: 0;
  width: 80%;
  max-width: 245px;
  padding: 20px 35px;
}
/* line 830, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list {
  display: none;
}
/* line 833, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .color__popup {
  background-color: #ffffff;
  position: absolute;
  top: -10%;
  z-index: 1;
  border: 1px solid #b2b2b2;
  padding: 10px;
  display: none;
  color: #959595;
}
/* line 845, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .colors-container {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 2px 5px;
  background-size: cover;
  vertical-align: middle;
  cursor: pointer;
}
/* line 855, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .colors-container .color-check {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 0.8em;
}
/* line 863, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .colors-container .color-check i {
  margin-top: 12px;
  display: none;
}
/* line 867, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .colors-container .color-check span {
  margin-top: 8px;
  display: block;
}
/* line 872, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .colors-container .black {
  color: #000000;
}
/* line 875, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .colors-container .white {
  color: #ffffff;
}
/* line 881, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .checked .color-check {
  display: block;
}
/* line 884, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .checked .color-check i {
  display: block;
}
/* line 886, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .checked .color-check span {
  display: none;
}
/* line 890, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .checked:hover .color-check {
  display: block;
}
/* line 893, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .checked:hover .color-check i {
  display: inline-block;
  font-size: 0.5em;
}
/* line 896, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filters__colors .colors__body .body__list .checked:hover .color-check span {
  display: inline-block;
  font-size: 0.9em;
}
/* line 910, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .filter:hover {
  background-color: rgba(246, 246, 246, 0.4);
}
/* line 914, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .opened .filter__head .open-icon {
  display: none;
}
/* line 919, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .opened .f-body .body__list {
  display: block;
}
/* line 924, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .minimized .filter__head .close-icon {
  display: none;
}
/* line 927, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .minimized .body__list {
  display: none;
}
/* line 930, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__filters .minimized .general__body, html body .content .content__wrapper .wrapper__main .main__content .content__filters .minimized .price__body, html body .content .content__wrapper .wrapper__main .main__content .content__filters .minimized .colors__body {
  display: none;
}
/* line 933, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: calc(75% + 1px);
  float: right;
  overflow: visible;
  z-index: 9;
}
/* line 942, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container {
  display: block;
  position: relative;
  width: 100%;
  float: right;
}
/* line 948, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 955, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper {
  width: calc(100% / 3);
  height: auto;
  display: inline-block;
  float: left;
  border-left: 1px #efeaea solid;
  border-bottom: 1px #efeaea solid;
  box-sizing: border-box;
}
/* line 965, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper a {
  color: inherit;
  text-decoration: none;
}
/* line 969, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .image {
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
}
/* line 975, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .image img {
  width: 75%;
}
/* line 978, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info {
  display: block;
  position: relative;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}
/* line 988, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .product-name {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
/* line 993, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .product-name .brand, html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .product-name .model {
  display: block;
}
/* line 996, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .colors {
  display: block;
  position: relative;
}
/* line 1000, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .colors .color-name {
  display: block;
  position: relative;
  font-size: 0.7em;
  padding-bottom: 10px;
}
/* line 1006, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .colors .color {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 2px 5px;
  background-size: cover;
  vertical-align: middle;
  cursor: pointer;
}
/* line 1016, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .colors .color .checked {
  display: none;
}
/* line 1019, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .colors .color .black {
  color: #000000;
}
/* line 1022, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .colors .color .white {
  color: #ffffff;
}
/* line 1026, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .colors .active .checked {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 7px;
  font-size: 1.3em;
}
/* line 1034, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .prices {
  margin-top: 10px;
  padding-bottom: 20px;
  display: block;
  position: relative;
}
/* line 1040, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .prices .old-price, html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .prices .price {
  display: inline-block;
}
/* line 1043, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .prices .old-price {
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
}
/* line 1050, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper .info .prices .price {
  position: relative;
  color: #4c4c4c;
  font-size: 1em;
  padding-left: 10px;
}
/* line 1058, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper:first-child {
  width: calc(100% / 3);
}
/* line 1063, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .row__product-wrapper:nth-child(2) {
  width: calc(100% / 3 - 1px);
}
/* line 1066, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable {
  width: calc(100% / 3);
  height: auto;
  display: inline-block;
  float: left;
  border-left: 1px #efeaea solid;
  border-bottom: 1px #efeaea solid;
  box-sizing: border-box;
}
/* line 1076, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable a {
  color: inherit;
  text-decoration: none;
}
/* line 1080, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .image {
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
}
/* line 1086, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .image img {
  width: 75%;
}
/* line 1089, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info {
  display: block;
  position: relative;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}
/* line 1099, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .product-name {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
/* line 1104, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .product-name .brand, html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .product-name .model {
  display: block;
}
/* line 1107, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .lengths {
  display: block;
  position: relative;
}
/* line 1113, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .lengths .length {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 2px 5px;
  border: 2px solid #979797;
  border-radius: 20px;
  vertical-align: middle;
  cursor: pointer;
}
/* line 1124, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .lengths .length .checked {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 0.67em;
  margin-top: 7px;
}
/* line 1131, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .lengths .length .checked i {
  font-style: normal;
}
/* line 1134, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .lengths .length .black {
  color: #000000;
}
/* line 1137, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .lengths .length .white {
  color: #ffffff;
}
/* line 1140, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .lengths .active {
  border: 3px solid #52afeb;
}
/* line 1143, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .lengths .active .checked {
  color: dodgerblue;
}
/* line 1146, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .prices {
  margin-top: 10px;
  padding-bottom: 20px;
  display: block;
  position: relative;
}
/* line 1152, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .prices .old-price, html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .prices .price {
  display: inline-block;
}
/* line 1155, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .prices .old-price {
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
}
/* line 1162, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable .info .prices .price {
  position: relative;
  color: #4c4c4c;
  font-size: 1em;
  padding-left: 10px;
}
/* line 1170, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable:first-child {
  width: calc(100% / 3);
}
/* line 1175, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__products .products__container .container__row .cable:nth-child(2) {
  width: calc(100% / 3 - 1px);
}
/* line 1181, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination {
  display: block;
  position: relative;
  height: 60px;
  float: right;
  width: calc(75% + 1px);
  box-sizing: border-box;
  border-bottom: 1px #efeaea solid;
  margin: 0;
  padding: 0;
  z-index: 2;
}
/* line 1193, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination li {
  display: inline-block;
  width: 5%;
  float: left;
  height: 60px;
  border-right: 1px #efeaea solid;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 1203, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination li a {
  text-decoration: none;
  color: #000000;
  display: block;
  margin: 1.1em auto 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 1212, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination li:hover {
  background-color: #eee;
  box-shadow: 0 0 20px rgba(211, 211, 211, 0.5);
}
/* line 1217, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .prev {
  display: block;
  float: left;
  border-left: 1px #efeaea solid;
  border-right: 1px #efeaea solid;
  height: 60px;
  width: 10%;
  box-sizing: border-box;
  margin: 0;
}
/* line 1226, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .prev i {
  font-size: 1.2em;
  display: block;
  margin: 0.85em auto 0;
  width: 15%;
}
/* line 1232, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .prev:hover {
  background-color: #eee;
  color: #F2F5F7;
  box-shadow: 0 0 20px rgba(211, 211, 211, 0.5);
  border-right: 1px #eee solid;
  border-left: 1px #eee solid;
}
/* line 1238, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .next {
  display: block;
  float: right;
  border-left: 1px #efeaea solid;
  height: 60px;
  width: 10%;
  box-sizing: border-box;
  margin: 0;
}
/* line 1246, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .next i {
  font-size: 1.2em;
  display: block;
  margin: 0.85em auto 0;
  width: 15%;
}
/* line 1252, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .next:hover {
  background-color: #eee;
  color: #F2F5F7;
  box-shadow: 0 0 20px rgba(211, 211, 211, 0.5);
  border-right: 1px #eee solid;
  border-left: 1px #eee solid;
}
/* line 1261, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .disabled i {
  display: block;
  margin: 0.85em auto 0;
  width: 15%;
  color: #808080;
}
/* line 1267, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .disabled:hover {
  background-color: #ffffff;
  box-shadow: none;
  border-left: 1px #efeaea solid;
  border-right: 1px #efeaea solid;
}
/* line 1273, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .active {
  background-color: #52afeb;
  box-shadow: 0 0 20px rgba(55, 70, 222, 0.5);
  color: #ffffff;
  z-index: 3;
  border-right: 1px #52afeb solid;
}
/* line 1279, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .active a {
  color: #ffffff;
}
/* line 1281, ../sass/list_page.sass */
html body .content .content__wrapper .wrapper__main .main__content .content__pagination .active:hover {
  background-color: #52afeb;
  box-shadow: 0 0 20px rgba(211, 211, 211, 0.5);
}
