/* line 3, ../sass/main_page.sass */
html {
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/main_page.sass */
html body {
  margin: 0;
  padding: 0;
}
/* line 11, ../sass/main_page.sass */
html body .header {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
}
/* line 21, ../sass/main_page.sass */
html body .header .header__menu-indicator-pushed {
  display: none;
  float: left;
  width: auto;
  height: 100%;
  border-right: 1px rgba(255, 255, 255, 0.5) solid;
  background-color: rgba(0, 0, 0, 0.5);
  color: grey;
  padding-right: 10px;
  cursor: pointer;
  opacity: 1;
}
/* line 33, ../sass/main_page.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__hamburger {
  display: inline-block;
  margin: 15px 10px 10px 20px;
  opacity: 1;
}
/* line 38, ../sass/main_page.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__hamburger i {
  font-size: 1.5em;
  color: #F2F5F7;
  opacity: 1;
}
/* line 42, ../sass/main_page.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__text {
  display: inline-block;
  margin: 20px;
}
@media screen and (max-width: 935px) {
  /* line 42, ../sass/main_page.sass */
  html body .header .header__menu-indicator-pushed .menu-indicator-pushed__text {
    display: none;
  }
}
/* line 49, ../sass/main_page.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__text .text__value {
  color: #F2F5F7;
}
/* line 52, ../sass/main_page.sass */
html body .header .header__menu-indicator {
  display: inline-block;
  float: left;
  width: auto;
  height: 100%;
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
  padding-right: 10px;
  cursor: pointer;
  opacity: 1;
}
/* line 62, ../sass/main_page.sass */
html body .header .header__menu-indicator .menu-indicator__hamburger {
  display: inline-block;
  margin: 15px 10px 10px 20px;
  opacity: 1;
}
/* line 67, ../sass/main_page.sass */
html body .header .header__menu-indicator .menu-indicator__hamburger i {
  font-size: 1.5em;
  color: #F2F5F7;
  opacity: 1;
}
/* line 71, ../sass/main_page.sass */
html body .header .header__menu-indicator .menu-indicator__text {
  display: inline-block;
  margin: 20px;
  opacity: 1;
}
@media screen and (max-width: 935px) {
  /* line 71, ../sass/main_page.sass */
  html body .header .header__menu-indicator .menu-indicator__text {
    display: none;
  }
}
/* line 79, ../sass/main_page.sass */
html body .header .header__menu-indicator .menu-indicator__text .text__value {
  color: #F2F5F7;
}
/* line 82, ../sass/main_page.sass */
html body .header .header__logo {
  display: inline-block;
  width: 105px;
  height: 50px;
  margin-top: 5px;
  margin-left: calc(50% - 105px);
  transform: translateX(-105px);
  background-image: url("../../images/logo.png");
}
@media screen and (max-width: 800px) {
  /* line 82, ../sass/main_page.sass */
  html body .header .header__logo {
    margin-left: 140px;
  }
}
/* line 93, ../sass/main_page.sass */
html body .header .header__search {
  display: inline-block;
  float: right;
  margin: 20px 20px 20px 0;
}
/* line 97, ../sass/main_page.sass */
html body .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: -1000px;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 108, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper {
  margin: 20px;
  position: relative;
  z-index: 1;
}
/* line 113, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list {
  display: block;
}
/* line 116, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category {
  display: inline-block;
  margin-right: 50px;
  color: #F2F5F7;
  vertical-align: top;
}
@media screen and (max-width: 1460px) {
  /* line 116, ../sass/main_page.sass */
  html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category {
    margin-right: 0;
  }
}
/* line 125, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__head {
  text-transform: uppercase;
}
@media screen and (max-width: 1460px) {
  /* line 125, ../sass/main_page.sass */
  html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__head {
    font-size: 0.85em;
  }
}
/* line 131, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category {
  list-style-type: none;
  padding: 0;
}
/* line 135, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item {
  display: block;
  width: 125px;
  padding: 5px 0;
  font-size: 0.85em;
}
/* line 141, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item a {
  text-decoration: none;
  color: #F2F5F7;
  cursor: pointer;
}
/* line 145, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item a:hover {
  color: #52AFEB;
}
/* line 148, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item .item__all {
  display: block;
  margin-top: 10px;
  color: #F2F5F7;
  text-decoration: none;
  cursor: pointer;
}
/* line 155, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column {
  display: inline-block;
  color: #F2F5F7;
  vertical-align: top;
}
@media screen and (max-width: 1460px) {
  /* line 155, ../sass/main_page.sass */
  html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column {
    margin-top: 20px;
  }
}
@media screen and (max-width: 970px) {
  /* line 155, ../sass/main_page.sass */
  html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column {
    display: none;
  }
}
/* line 166, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column .info-column__list {
  list-style-type: none;
}
/* line 169, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column .info-column__list .list__item {
  display: block;
  margin-bottom: 30px;
}
@media screen and (max-width: 1460px) {
  /* line 169, ../sass/main_page.sass */
  html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column .info-column__list .list__item {
    display: inline-block;
  }
}
/* line 177, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column .info-column__list .list__item .item__icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
/* line 182, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column .info-column__list .list__item .item__icon i {
  font-size: 2em;
}
/* line 185, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column .info-column__list .list__item .item__descr {
  display: inline-block;
  width: 205px;
}
/* line 190, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column .info-column__list .list__item .item__descr .descr__head {
  margin: 0 0 5px 0;
}
/* line 193, ../sass/main_page.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .info-column .info-column__list .list__item .item__descr .descr__text {
  display: block;
  margin-bottom: 3px;
}
/* line 197, ../sass/main_page.sass */
html body .slider-container {
  width: 100%;
  height: auto;
  position: relative;
  top: -60px;
  z-index: 0;
}
/* line 204, ../sass/main_page.sass */
html body .slider-container .slider {
  width: 100vw;
  height: 40vw;
  min-height: 468px;
  overflow: hidden;
  border: none;
  position: relative;
  text-align: center;
  z-index: 0;
}
/* line 214, ../sass/main_page.sass */
html body .slider-container .slider .prew-btn, html body .slider-container .slider .next-btn {
  display: block;
  position: absolute;
  top: calc(50% - 30px);
  font-size: 30px;
  overflow: hidden;
  color: #808080;
  opacity: 0.7;
  z-index: 3;
}
/* line 224, ../sass/main_page.sass */
html body .slider-container .slider .prew-btn {
  left: 20px;
}
/* line 227, ../sass/main_page.sass */
html body .slider-container .slider .prew-btn:hover {
  opacity: 1;
  color: #ffffff;
  font-size: 40px;
  transform: translateY(-10%);
}
/* line 233, ../sass/main_page.sass */
html body .slider-container .slider .next-btn {
  right: 20px;
}
/* line 236, ../sass/main_page.sass */
html body .slider-container .slider .next-btn:hover {
  opacity: 1;
  color: #ffffff;
  font-size: 40px;
  transform: translateY(-10%);
}
/* line 242, ../sass/main_page.sass */
html body .slider-container .slider .slide {
  width: 100%;
  height: 100%;
}
/* line 246, ../sass/main_page.sass */
html body .slider-container .slider .slide img {
  width: 100%;
  height: 100%;
  min-width: 1170px;
  min-height: 468px;
}
/* line 253, ../sass/main_page.sass */
html body .wrapper {
  position: relative;
}
/* line 255, ../sass/main_page.sass */
html body .wrapper .content {
  position: relative;
  z-index: 1;
  display: block;
  width: auto;
  height: auto;
  margin: -120px 5% 60px 5%;
  background-color: white;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* line 266, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper {
  display: block;
  position: relative;
}
/* line 270, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__top-menu {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 1px #efeaea solid;
  box-sizing: border-box;
}
/* line 278, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__top-menu .active {
  background-color: #52AFEB;
  color: #F2F5F7;
}
/* line 282, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__top-menu .top-menu__tab {
  display: inline-block;
  position: relative;
  width: calc(100% / 3 - 3px);
  height: 60px;
  border-right: 1px #efeaea solid;
  box-sizing: border-box;
}
/* line 290, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__top-menu .top-menu__tab:last-child {
  border-right: none;
}
/* line 293, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__top-menu .top-menu__tab span {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
}
/* line 304, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
/* line 311, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px #efeaea solid;
  margin-bottom: 50px;
}
/* line 319, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .info {
  display: block;
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* line 325, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .info .brand {
  display: inline-block;
}
/* line 328, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .info .model {
  display: inline-block;
}
/* line 331, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .old-price {
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
  margin-left: 20px;
}
/* line 339, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .price {
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-left: 20px;
}
/* line 348, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .default .small-item__wrap .info {
  margin-bottom: 25px;
}
/* line 351, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__left-group {
  display: inline-block;
  position: relative;
  float: left;
  width: calc(100% /4 - 1px);
  border-right: 1px #efeaea solid;
}
/* line 359, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__left-group .products__small-item {
  display: block;
  position: relative;
  border-top: 1px #efeaea solid;
  padding-bottom: 50px;
}
/* line 365, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__left-group .products__small-item:first-child {
  border-top: none;
}
/* line 369, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__left-group .products__small-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 372, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__left-group .products__small-item .small-item__wrap {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
/* line 378, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__left-group .products__small-item .small-item__wrap:first-child {
  padding-top: 21px;
}
/* line 381, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__left-group .products__small-item .small-item__wrap .image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
/* line 388, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__left-group .products__small-item .small-item__wrap .image img {
  width: 80%;
}
/* line 391, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__middle-group {
  display: inline-block;
  position: relative;
  float: left;
  width: calc(100% / 2);
}
/* line 396, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__middle-group .products__big-item {
  display: block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}
/* line 402, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__middle-group .products__big-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 406, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__middle-group .products__big-item .big-item__wrap {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
/* line 413, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__middle-group .products__big-item .big-item__wrap .image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
/* line 420, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__middle-group .products__big-item .big-item__wrap .image img {
  width: 100%;
}
/* line 423, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__middle-group .products__big-item .big-item__wrap .info {
  margin-top: 50px;
}
/* line 428, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__right-group {
  display: inline-block;
  position: relative;
  float: right;
  width: calc(100% /4 - 1px);
  border-left: 1px #efeaea solid;
}
/* line 436, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__right-group .products__small-item {
  display: block;
  position: relative;
  border-top: 1px #efeaea solid;
  padding-bottom: 50px;
}
/* line 442, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__right-group .products__small-item:first-child {
  border-top: none;
}
/* line 446, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__right-group .products__small-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 450, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__right-group .products__small-item .small-item__wrap {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
/* line 456, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__right-group .products__small-item .small-item__wrap:first-child {
  padding-top: 21px;
}
/* line 459, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__right-group .products__small-item .small-item__wrap .image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
/* line 467, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__products .products__right-group .products__small-item .small-item__wrap .image img {
  width: 80%;
  z-index: 0;
}
/* line 471, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px #efeaea solid;
  border-top: 1px #efeaea solid;
  margin-bottom: 50px;
}
/* line 480, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__head {
  display: block;
  position: relative;
  background-color: #52AFEB;
  color: #F2F5F7;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
}
/* line 489, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__head h4 {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  width: 100%;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}
/* line 502, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group {
  display: inline-block;
  position: relative;
  float: left;
  width: calc(60% - 1px);
  border-right: 1px #efeaea solid;
}
/* line 513, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px #efeaea solid;
  z-index: 3;
}
/* line 521, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 524, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 534, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player .label span {
  text-align: center;
}
/* line 538, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player .info {
  display: block;
  float: left;
  margin: 20% 0 20% 10%;
}
/* line 543, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player .info .brand {
  display: inline-block;
}
/* line 546, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player .info .model {
  display: inline-block;
}
/* line 549, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
}
/* line 558, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player .info .price {
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-left: 30%;
}
/* line 566, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player .image {
  display: block;
  float: right;
  position: relative;
  width: 50%;
  height: auto;
  margin-right: 30px;
  z-index: 0;
}
/* line 576, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .player .image img {
  width: 100%;
  z-index: 0;
}
/* line 581, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
/* line 588, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 591, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 601, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp .label span {
  text-align: center;
}
/* line 604, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp .info {
  display: block;
  float: left;
  margin: 20% 0 20% 10%;
}
/* line 609, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp .info .brand {
  display: inline-block;
}
/* line 612, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp .info .model {
  display: inline-block;
}
/* line 615, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
  margin-left: 30%;
}
/* line 624, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp .info .price {
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-left: 30%;
  margin-top: 20px;
}
/* line 632, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp .image {
  display: block;
  float: right;
  position: relative;
  width: 50%;
  height: auto;
  margin-right: 30px;
  z-index: 0;
}
/* line 642, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__left-group .amp .image img {
  width: 100%;
}
/* line 646, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group {
  display: inline-block;
  position: relative;
  float: right;
  width: calc(40% - 1px);
  border-right: 1px #efeaea solid;
}
/* line 653, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* line 660, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 663, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 673, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic .label span {
  text-align: center;
}
/* line 676, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic .info {
  display: block;
  margin: 20px 30%;
  text-align: center;
}
/* line 681, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic .info .brand {
  display: inline-block;
}
/* line 684, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic .info .model {
  display: inline-block;
}
/* line 687, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
}
/* line 696, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic .info .price {
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-top: 20px;
}
/* line 704, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic .image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 100px;
  z-index: 0;
  text-align: center;
}
/* line 713, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__right-group .acoustic .image img {
  width: 90%;
  z-index: 0;
}
/* line 717, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__link {
  display: block;
  position: relative;
  color: #F2F5F7;
  width: 100%;
  height: 60px;
  overflow: hidden;
  text-transform: uppercase;
  border-top: 1px #efeaea solid;
}
/* line 727, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__link a {
  display: block;
  position: relative;
  top: 50%;
  margin-top: -0.625em;
  margin-right: 20px;
  float: right;
  text-decoration: none;
  color: #808080;
  cursor: pointer;
}
/* line 737, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-right .set-right__link a:hover {
  color: #52AFEB;
}
/* line 741, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px #efeaea solid;
  border-top: 1px #efeaea solid;
  margin-bottom: 50px;
}
/* line 750, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__head {
  display: block;
  position: relative;
  background-color: #52AFEB;
  color: #F2F5F7;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
}
/* line 759, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__head h4 {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  width: 100%;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}
/* line 772, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group {
  display: inline-block;
  position: relative;
  float: right;
  width: calc(60% - 1px);
  border-left: 1px #efeaea solid;
}
/* line 779, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px #efeaea solid;
  z-index: 3;
}
/* line 787, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 790, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 800, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player .label span {
  text-align: center;
}
/* line 804, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player .info {
  display: block;
  float: left;
  margin: 20% 0 20% 10%;
}
/* line 809, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player .info .brand {
  display: inline-block;
}
/* line 812, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player .info .model {
  display: inline-block;
}
/* line 815, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
  margin-right: 30%;
}
/* line 824, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player .info .price {
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-right: 30%;
}
/* line 832, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player .image {
  display: block;
  float: right;
  position: relative;
  width: 50%;
  height: auto;
  margin-right: 30px;
  z-index: 0;
}
/* line 841, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .player .image img {
  width: 100%;
  z-index: 0;
}
/* line 846, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
/* line 853, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 856, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 866, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp .label span {
  text-align: center;
}
/* line 869, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp .info {
  display: block;
  float: left;
  margin: 20% 0 20% 10%;
}
/* line 874, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp .info .brand {
  display: inline-block;
}
/* line 877, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp .info .model {
  display: inline-block;
}
/* line 880, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
  margin-left: 30%;
}
/* line 889, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp .info .price {
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-left: 30%;
  margin-top: 20px;
}
/* line 897, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp .image {
  display: block;
  float: right;
  position: relative;
  width: 50%;
  height: auto;
  margin-right: 30px;
  z-index: 0;
}
/* line 906, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__right-group .amp .image img {
  width: 100%;
}
/* line 910, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group {
  display: inline-block;
  position: relative;
  float: left;
  width: calc(40% - 1px);
  border-left: 1px #efeaea solid;
}
/* line 917, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* line 924, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 927, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 937, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic span {
  text-align: center;
}
/* line 940, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic .info {
  display: block;
  margin: 20px 30%;
  text-align: center;
}
/* line 945, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic .info .brand {
  display: inline-block;
}
/* line 948, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic .info .model {
  display: inline-block;
}
/* line 951, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
}
/* line 960, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic .info .price {
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-top: 20px;
}
/* line 968, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic .image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 100px;
  text-align: center;
  z-index: 0;
}
/* line 977, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__left-group .acoustic .image img {
  width: 90%;
  z-index: 0;
}
/* line 981, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__link {
  display: block;
  position: relative;
  color: #F2F5F7;
  width: 100%;
  height: 60px;
  overflow: hidden;
  text-transform: uppercase;
  border-top: 1px #efeaea solid;
}
/* line 991, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__link a {
  display: block;
  position: relative;
  top: 50%;
  margin-top: -0.625em;
  margin-right: 20px;
  float: right;
  text-decoration: none;
  color: #808080;
  cursor: pointer;
}
/* line 1001, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__set-left .set-left__link a:hover {
  color: #52AFEB;
}
/* line 1004, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 {
  display: block;
  position: relative;
  width: 100%;
}
/* line 1009, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__head {
  display: block;
  position: relative;
  background-color: #52AFEB;
  color: #F2F5F7;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
}
/* line 1018, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__head h4 {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  width: 100%;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}
/* line 1028, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group {
  display: inline-block;
  float: left;
  position: relative;
  width: 60%;
}
/* line 1034, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front {
  display: inline-block;
  width: calc(50% - 3px);
  height: auto;
  border-right: 1px #efeaea solid;
  border-bottom: 1px #efeaea solid;
}
/* line 1041, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 1044, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 1054, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front .label span {
  text-align: center;
}
/* line 1057, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front .info {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 1064, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front .info .brand {
  display: inline-block;
}
/* line 1067, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front .info .model {
  display: inline-block;
}
/* line 1070, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
  margin-left: 20px;
}
/* line 1079, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front .info .price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-left: 20px;
}
/* line 1087, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front .image {
  display: block;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
/* line 1093, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__front .image img {
  width: 80%;
}
/* line 1096, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear {
  display: inline-block;
  width: calc(50% - 3px);
  height: auto;
  border-right: 1px #efeaea solid;
  border-bottom: 1px #efeaea solid;
}
/* line 1103, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 1106, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 1116, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear .label span {
  text-align: center;
}
/* line 1119, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear .info {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 1126, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear .info .brand {
  display: inline-block;
}
/* line 1129, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear .info .model {
  display: inline-block;
}
/* line 1132, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
  margin-left: 20px;
}
/* line 1141, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear .info .price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-left: 20px;
}
/* line 1149, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear .image {
  display: block;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
/* line 1155, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__rear .image img {
  width: 80%;
}
/* line 1158, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center {
  display: inline-block;
  width: calc(50% - 3px);
  height: auto;
  border-right: 1px #efeaea solid;
}
/* line 1165, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 1168, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 1178, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center .label span {
  text-align: center;
}
/* line 1181, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center .info {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 1188, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center .info .brand {
  display: inline-block;
}
/* line 1191, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center .info .model {
  display: inline-block;
}
/* line 1194, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
  margin-left: 20px;
}
/* line 1203, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center .info .price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-left: 20px;
}
/* line 1211, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center .image {
  display: block;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
/* line 1217, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__center .image img {
  width: 80%;
}
/* line 1220, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub {
  display: inline-block;
  width: calc(50% - 3px);
  height: auto;
  border-right: 1px #efeaea solid;
}
/* line 1227, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 1230, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 1240, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub .label span {
  text-align: center;
}
/* line 1243, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub .info {
  margin-top: 10px;
  display: block;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}
/* line 1250, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub .info .brand {
  display: inline-block;
}
/* line 1253, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub .info .model {
  display: inline-block;
}
/* line 1256, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
  margin-left: 20px;
}
/* line 1265, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub .info .price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-left: 20px;
}
/* line 1273, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub .image {
  display: block;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
/* line 1278, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__left-group .left-group__sub .image img {
  width: 80%;
}
/* line 1281, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group {
  display: inline-block;
  float: right;
  position: relative;
  width: 40%;
}
/* line 1287, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver {
  display: inline-block;
  width: 100%;
  height: auto;
  border-right: 1px #efeaea solid;
}
/* line 1294, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 1297, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver .label {
  position: relative;
  top: 20px;
  left: 33%;
  text-align: center;
  width: 33%;
  background-color: #808080;
  color: #F2F5F7;
  padding: 5px 0;
  z-index: 2;
}
/* line 1307, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver .label span {
  text-align: center;
}
/* line 1310, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver .info {
  margin-top: 10px;
  display: block;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}
/* line 1318, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver .info .brand {
  display: inline-block;
}
/* line 1321, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver .info .model {
  display: inline-block;
}
/* line 1324, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver .info .old-price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 0.8em;
  margin-left: 20px;
}
/* line 1333, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver .info .price {
  margin-top: 10px;
  display: block;
  position: relative;
  color: #095A98;
  font-size: 1em;
  margin-left: 20px;
}
/* line 1341, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver .image {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 150px;
}
/* line 1346, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__right-group .right-group__receiver .image img {
  width: 80%;
}
/* line 1349, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__link {
  display: block;
  position: relative;
  color: #F2F5F7;
  width: 100%;
  height: 60px;
  overflow: hidden;
  text-transform: uppercase;
  border-top: 1px #efeaea solid;
}
/* line 1359, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__link a {
  display: block;
  position: relative;
  top: 50%;
  margin-top: -0.625em;
  margin-right: 20px;
  float: right;
  text-decoration: none;
  color: #808080;
  cursor: pointer;
}
/* line 1369, ../sass/main_page.sass */
html body .wrapper .content .content__wrapper .wrapper__container .container__theater-5dot1 .theater-5dot1__link a:hover {
  color: #52AFEB;
}
