@font-face {
  font-family: "Arsenal";
  src: url("../../fonts/Arsenal/Arsenal-Regular.ttf");
}
@font-face {
  font-family: "ArsenalBold";
  src: url("../../fonts/Arsenal/Arsenal-Bold.ttf");
}
/* line 3, ../sass/product_page.sass */
html {
  margin: 0;
  padding: 0;
}
/* line 8, ../sass/product_page.sass */
html body {
  margin: 0;
  padding: 0;
}
/* line 13, ../sass/product_page.sass */
html body .content {
  position: relative;
  z-index: 3;
  display: block;
  width: auto;
  margin: -120px 5% 60px 5%;
  background-color: white;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* line 23, ../sass/product_page.sass */
html body .content .content__product {
  display: block;
  position: relative;
  padding: 150px 10%;
  border-bottom: 1px #efeaea solid;
  overflow: hidden;
}
/* line 30, ../sass/product_page.sass */
html body .content .content__product .product__wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 36, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info {
  display: block;
  position: relative;
  float: left;
  width: 40%;
  padding-top: 75px;
}
/* line 43, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__type {
  display: block;
  position: relative;
  padding-bottom: 20px;
  color: #4c4c4c;
}
/* line 49, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__name {
  display: block;
  position: relative;
  padding-bottom: 20px;
  font-size: 1.5em;
}
/* line 55, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__name .brand, html body .content .content__product .product__wrapper .wrapper__info .info__name .model {
  display: inline-block;
}
/* line 58, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__colors {
  display: block;
  position: relative;
}
/* line 62, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__colors .clrs-span {
  display: block;
  padding-bottom: 5px;
}
/* line 66, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__colors .color-name {
  display: block;
  position: relative;
  font-size: 0.7em;
  padding-bottom: 10px;
}
/* line 72, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__colors .color {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 2px 5px;
  background-size: cover;
  vertical-align: middle;
  cursor: pointer;
}
/* line 82, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__colors .color .checked {
  display: none;
}
/* line 85, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__colors .color .black {
  color: #000000;
}
/* line 88, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__colors .color .white {
  color: #ffffff;
}
/* line 92, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__colors .active .checked {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 5px;
  font-size: 0.7em;
}
/* line 100, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__price {
  display: block;
  position: relative;
  padding-top: 20px;
}
/* line 105, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__price .price, html body .content .content__product .product__wrapper .wrapper__info .info__price .old-price {
  display: inline-block;
  padding-right: 10px;
}
/* line 109, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__price .old-price {
  position: relative;
  color: #ff6666;
  text-decoration: line-through;
  font-size: 1em;
  margin-left: 20px;
}
/* line 116, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__info .info__price .price {
  position: relative;
  color: #4c4c4c;
  font-size: 1.5em;
  margin-left: 20px;
}
/* line 122, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__color-image {
  display: block;
  position: relative;
  float: right;
  width: 60%;
  text-align: center;
}
/* line 130, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__color-image .image {
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
}
/* line 136, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__color-image .image img {
  text-align: center;
  width: 60%;
}
/* line 140, ../sass/product_page.sass */
html body .content .content__product .product__wrapper .wrapper__color-image .show {
  display: block;
}
/* line 143, ../sass/product_page.sass */
html body .content .content__product-about {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 20px;
}
/* line 148, ../sass/product_page.sass */
html body .content .content__product-about .product-about__tabs {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 10%;
  padding-bottom: 20px;
}
/* line 155, ../sass/product_page.sass */
html body .content .content__product-about .product-about__tabs .tabs__tab {
  display: inline-block;
  margin-right: 40px;
  padding: 10px;
  cursor: pointer;
}
/* line 161, ../sass/product_page.sass */
html body .content .content__product-about .product-about__tabs .tabs__tab span {
  text-transform: uppercase;
  font-size: 0.7em;
}
/* line 165, ../sass/product_page.sass */
html body .content .content__product-about .product-about__tabs .tabs__tab .tab__underline {
  display: none;
  width: 100%;
  height: 2px;
  background-color: #52afeb;
  margin-top: 20px;
  box-shadow: 7px 0 20px rgba(55, 70, 222, 0.7);
}
/* line 178, ../sass/product_page.sass */
html body .content .content__product-about .product-about__tabs .active span {
  color: #52afeb;
}
/* line 181, ../sass/product_page.sass */
html body .content .content__product-about .product-about__tabs .active .tab__underline {
  display: block;
}
/* line 184, ../sass/product_page.sass */
html body .content .content__product-about .product-about__overview {
  display: block;
  width: 100%;
}
/* line 188, ../sass/product_page.sass */
html body .content .content__product-about .product-about__overview .overview__text {
  display: block;
  width: 60%;
  margin: 100px auto;
}
/* line 195, ../sass/product_page.sass */
html body .content .content__product-about .product-about__specifications {
  display: none;
  width: 100%;
}
/* line 200, ../sass/product_page.sass */
html body .content .content__product-about .product-about__specifications .specifications__wrapper {
  display: block;
  width: 100%;
  position: relative;
  margin: 30px auto;
  text-align: center;
  overflow: hidden;
}
/* line 209, ../sass/product_page.sass */
html body .content .content__product-about .product-about__specifications .specifications__wrapper .spec {
  display: block;
  width: 60%;
  margin: 0 auto 40px;
}
/* line 215, ../sass/product_page.sass */
html body .content .content__product-about .product-about__specifications .specifications__wrapper .spec h4 {
  display: inline-block;
  margin-right: 20px;
  width: 30%;
  font-family: "ArsenalBold", sans-serif;
}
/* line 220, ../sass/product_page.sass */
html body .content .content__product-about .product-about__specifications .specifications__wrapper .spec h4:after {
  content: ":";
}
/* line 222, ../sass/product_page.sass */
html body .content .content__product-about .product-about__specifications .specifications__wrapper .spec span {
  display: inline-block;
  width: 65%;
}
/* line 227, ../sass/product_page.sass */
html body .content .content__product-about .product-about__gallery {
  display: none;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
/* line 234, ../sass/product_page.sass */
html body .content .content__product-about .product-about__gallery .fotorama {
  text-align: -webkit-center;
}
