@font-face {
  font-family: "Arsenal";
  src: url("../../fonts/Arsenal/Arsenal-Regular.ttf");
}
@font-face {
  font-family: "ArsenalBold";
  src: url("../../fonts/Arsenal/Arsenal-Bold.ttf");
}
/* line 3, ../sass/templateNT.sass */
html {
  margin: 0;
  padding: 0;
  font-family: "Arsenal", sans-serif;
  line-height: 1.3em;
}
/* line 9, ../sass/templateNT.sass */
html body {
  margin: 0;
  padding: 0;
  height: auto !important;
  height: 100%;
}
/* line 15, ../sass/templateNT.sass */
html body .header {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #5b5b5b;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  border-bottom: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 26, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed {
  display: none;
  float: left;
  width: auto;
  height: 100%;
  color: grey;
  padding-right: 10px;
  cursor: pointer;
  opacity: 1;
  background-color: #4c4c4c;
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 38, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__hamburger {
  display: inline-block;
  margin: 15px 10px 10px 20px;
  opacity: 1;
}
/* line 43, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__hamburger i {
  font-size: 1.5em;
  color: #F2F5F7;
  opacity: 1;
}
/* line 47, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__text {
  display: inline-block;
  margin: 20px;
}
@media screen and (max-width: 935px) {
  /* line 47, ../sass/templateNT.sass */
  html body .header .header__menu-indicator-pushed .menu-indicator-pushed__text {
    display: none;
  }
}
/* line 54, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__text .text__value {
  color: #F2F5F7;
}
/* line 57, ../sass/templateNT.sass */
html body .header .header__menu-indicator {
  display: inline-block;
  float: left;
  width: auto;
  height: 100%;
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
  padding-right: 10px;
  cursor: pointer;
  opacity: 1;
}
/* line 67, ../sass/templateNT.sass */
html body .header .header__menu-indicator .menu-indicator__hamburger {
  display: inline-block;
  margin: 15px 10px 10px 20px;
  opacity: 1;
}
/* line 72, ../sass/templateNT.sass */
html body .header .header__menu-indicator .menu-indicator__hamburger i {
  font-size: 1.5em;
  color: #F2F5F7;
  opacity: 1;
}
/* line 76, ../sass/templateNT.sass */
html body .header .header__menu-indicator .menu-indicator__text {
  display: inline-block;
  margin: 20px;
  opacity: 1;
}
@media screen and (max-width: 935px) {
  /* line 76, ../sass/templateNT.sass */
  html body .header .header__menu-indicator .menu-indicator__text {
    display: none;
  }
}
/* line 84, ../sass/templateNT.sass */
html body .header .header__menu-indicator .menu-indicator__text .text__value {
  color: #F2F5F7;
}
/* line 87, ../sass/templateNT.sass */
html body .header .header__logo {
  display: inline-block;
  width: 105px;
  height: 50px;
  margin-top: 5px;
  margin-left: calc(50% - 105px);
  transform: translateX(-130px);
}
@media screen and (max-width: 800px) {
  /* line 87, ../sass/templateNT.sass */
  html body .header .header__logo {
    margin-left: 140px;
  }
}
/* line 98, ../sass/templateNT.sass */
html body .header .header__search {
  display: inline-block;
  float: right;
  margin: 20px 20px 20px 0;
  background-color: rgba(28, 30, 30, 0.2);
  border-radius: 3px;
}
/* line 105, ../sass/templateNT.sass */
html body .header .header__search .form__icon {
  color: white;
  margin-right: 2px;
}
/* line 108, ../sass/templateNT.sass */
html body .header .header__search .form__input {
  background-color: inherit;
  border: none;
  width: 200px;
  font-size: 0.9em;
  color: #FFFFFF;
  outline-color: grey;
}
/* line 115, ../sass/templateNT.sass */
html body .header .header__search .form__input::-webkit-input-placeholder {
  padding-right: 20px;
  color: #FFFFFF;
}
/* line 118, ../sass/templateNT.sass */
html body .dropdown-menu {
  display: none;
  position: absolute;
  top: -1000px;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: #5b5b5b;
  z-index: 4;
}
/* line 128, ../sass/templateNT.sass */
html body .dropdown-menu .blur {
  display: none;
}
/* line 133, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper {
  margin: 20px;
  position: relative;
  z-index: 1;
}
/* line 138, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 143, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category {
  display: inline-block;
  margin-right: 50px;
  color: #F2F5F7;
  vertical-align: top;
}
@media screen and (max-width: 1460px) {
  /* line 143, ../sass/templateNT.sass */
  html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category {
    margin-right: 0;
  }
}
/* line 152, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__head {
  text-transform: uppercase;
}
@media screen and (max-width: 1460px) {
  /* line 152, ../sass/templateNT.sass */
  html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__head {
    font-size: 0.85em;
  }
}
/* line 158, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category {
  list-style-type: none;
  padding: 0;
}
/* line 162, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item {
  display: block;
  width: auto;
  padding: 5px 0;
  font-size: 1rem;
}
/* line 168, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item a {
  text-decoration: none;
  color: #F2F5F7;
  cursor: pointer;
}
/* line 172, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item a:hover {
  color: #52afeb;
}
/* line 175, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item .item__all {
  display: block;
  margin-top: 10px;
  color: #F2F5F7;
  text-decoration: none;
  cursor: pointer;
}
/* line 182, ../sass/templateNT.sass */
html body .list-head {
  display: block;
  position: relative;
  top: -60px;
  background-color: #5b5b5b;
  height: auto;
}
/* line 189, ../sass/templateNT.sass */
html body .list-head .head__wrapper {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 75px;
  padding-bottom: 120px;
  text-align: center;
}
/* line 197, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__text {
  color: #F2F5F7;
  text-transform: uppercase;
}
/* line 201, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs {
  display: block;
}
/* line 204, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor {
  display: inline-block;
}
/* line 206, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor:after {
  padding: 0 5px;
  color: #ccc;
  content: " ";
}
/* line 212, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a {
  color: #bcb9b9;
  font-weight: 100;
  text-decoration: none;
}
/* line 217, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a:hover {
  color: #F2F5F7;
}
/* line 221, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .link:after {
  padding: 0 5px;
  color: #ccc;
  content: " ";
}
/* line 225, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .link:before {
  padding: 0 5px;
  color: #ccc;
  content: ">  ";
}
/* line 229, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .active {
  color: white;
}
/* line 231, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .active:after {
  padding: 0 5px;
  color: #ccc;
  content: " ";
}
/* line 235, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .active:before {
  padding: 0 5px;
  color: #ccc;
  content: ">  ";
}
/* line 240, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .delimiter {
  display: inline-block;
  color: #bcb9b9;
  font-weight: 100;
}
/* line 244, ../sass/templateNT.sass */
html body .content {
  min-height: 100%;
  padding: 0 0 229px;
}
/* line 248, ../sass/templateNT.sass */
html body .footer {
  position: relative;
  width: 100%;
  height: 229px;
  margin: -229px auto 0 auto;
  background-color: #000000;
}
