@font-face {
  font-family: "Arsenal";
  src: url("../../fonts/Arsenal/Arsenal-Regular.ttf");
}
@font-face {
  font-family: "ArsenalBold";
  src: url("../../fonts/Arsenal/Arsenal-Bold.ttf");
}
/* line 3, ../sass/templateNT.sass */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arsenal", sans-serif;
  line-height: 1.3em;
}
/* line 10, ../sass/templateNT.sass */
html body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 16, ../sass/templateNT.sass */
html body .header {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #5b5b5b;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  border-bottom: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 27, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed {
  display: none;
  float: left;
  width: auto;
  height: 100%;
  color: grey;
  padding-right: 10px;
  cursor: pointer;
  opacity: 1;
  background-color: #4c4c4c;
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
}
/* line 39, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__hamburger {
  display: inline-block;
  margin: 15px 10px 10px 20px;
  opacity: 1;
}
/* line 44, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__hamburger i {
  font-size: 1.5em;
  color: #F2F5F7;
  opacity: 1;
}
/* line 48, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__text {
  display: inline-block;
  margin: 20px;
}
@media screen and (max-width: 935px) {
  /* line 48, ../sass/templateNT.sass */
  html body .header .header__menu-indicator-pushed .menu-indicator-pushed__text {
    display: none;
  }
}
/* line 55, ../sass/templateNT.sass */
html body .header .header__menu-indicator-pushed .menu-indicator-pushed__text .text__value {
  color: #F2F5F7;
}
/* line 58, ../sass/templateNT.sass */
html body .header .header__menu-indicator {
  display: inline-block;
  float: left;
  width: auto;
  height: 100%;
  border-right: 1px rgba(165, 165, 165, 0.25) solid;
  padding-right: 10px;
  cursor: pointer;
  opacity: 1;
}
/* line 68, ../sass/templateNT.sass */
html body .header .header__menu-indicator .menu-indicator__hamburger {
  display: inline-block;
  margin: 15px 10px 10px 20px;
  opacity: 1;
}
/* line 73, ../sass/templateNT.sass */
html body .header .header__menu-indicator .menu-indicator__hamburger i {
  font-size: 1.5em;
  color: #F2F5F7;
  opacity: 1;
}
/* line 77, ../sass/templateNT.sass */
html body .header .header__menu-indicator .menu-indicator__text {
  display: inline-block;
  margin: 20px;
  opacity: 1;
}
@media screen and (max-width: 935px) {
  /* line 77, ../sass/templateNT.sass */
  html body .header .header__menu-indicator .menu-indicator__text {
    display: none;
  }
}
/* line 85, ../sass/templateNT.sass */
html body .header .header__menu-indicator .menu-indicator__text .text__value {
  color: #F2F5F7;
}
/* line 88, ../sass/templateNT.sass */
html body .header .header__logo {
  display: inline-block;
  width: 105px;
  height: 50px;
  margin-top: 5px;
  margin-left: calc(50% - 105px);
  transform: translateX(-130px);
}
@media screen and (max-width: 800px) {
  /* line 88, ../sass/templateNT.sass */
  html body .header .header__logo {
    margin-left: 140px;
  }
}
/* line 99, ../sass/templateNT.sass */
html body .header .header__search {
  display: inline-block;
  float: right;
  margin: 20px 20px 20px 0;
  background-color: rgba(28, 30, 30, 0.2);
  border-radius: 3px;
}
/* line 106, ../sass/templateNT.sass */
html body .header .header__search .form__icon {
  color: white;
  margin-right: 2px;
}
/* line 109, ../sass/templateNT.sass */
html body .header .header__search .form__input {
  background-color: inherit;
  border: none;
  width: 200px;
  font-size: 0.9em;
  color: #FFFFFF;
  outline-color: grey;
}
/* line 116, ../sass/templateNT.sass */
html body .header .header__search .form__input::-webkit-input-placeholder {
  padding-right: 20px;
  color: #FFFFFF;
}
/* line 119, ../sass/templateNT.sass */
html body .dropdown-menu {
  display: none;
  position: absolute;
  top: -1000px;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: #5b5b5b;
  z-index: 4;
}
/* line 129, ../sass/templateNT.sass */
html body .dropdown-menu .blur {
  display: none;
}
/* line 134, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper {
  margin: 20px;
  position: relative;
  z-index: 1;
}
/* line 139, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 144, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category {
  display: inline-block;
  margin-right: 50px;
  color: #F2F5F7;
  vertical-align: top;
}
@media screen and (max-width: 1460px) {
  /* line 144, ../sass/templateNT.sass */
  html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category {
    margin-right: 0;
  }
}
/* line 153, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__head {
  text-transform: uppercase;
}
@media screen and (max-width: 1460px) {
  /* line 153, ../sass/templateNT.sass */
  html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__head {
    font-size: 0.85em;
  }
}
/* line 159, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category {
  list-style-type: none;
  padding: 0;
}
/* line 163, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item {
  display: block;
  width: auto;
  padding: 5px 0;
  font-size: 1rem;
}
/* line 169, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item a {
  text-decoration: none;
  color: #F2F5F7;
  cursor: pointer;
}
/* line 173, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item a:hover {
  color: #52afeb;
}
/* line 176, ../sass/templateNT.sass */
html body .dropdown-menu .dropdown-menu__wrapper .wrapper__main-categories-list .general-category .general-category__sub-category .sub-category__item .item__all {
  display: block;
  margin-top: 10px;
  color: #F2F5F7;
  text-decoration: none;
  cursor: pointer;
}
/* line 183, ../sass/templateNT.sass */
html body .list-head {
  display: block;
  position: relative;
  top: -60px;
  background-color: #5b5b5b;
  height: auto;
}
/* line 190, ../sass/templateNT.sass */
html body .list-head .head__wrapper {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 75px;
  padding-bottom: 120px;
  text-align: center;
}
/* line 198, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__text {
  color: #F2F5F7;
  text-transform: uppercase;
}
/* line 202, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs {
  display: block;
}
/* line 205, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor {
  display: inline-block;
}
/* line 207, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor:after {
  padding: 0 5px;
  color: #ccc;
  content: " ";
}
/* line 213, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a {
  color: #bcb9b9;
  font-weight: 100;
  text-decoration: none;
}
/* line 218, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .anchor a:hover {
  color: #F2F5F7;
}
/* line 222, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .link:after {
  padding: 0 5px;
  color: #ccc;
  content: " ";
}
/* line 226, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .link:before {
  padding: 0 5px;
  color: #ccc;
  content: ">  ";
}
/* line 230, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .active {
  color: white;
}
/* line 232, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .active:after {
  padding: 0 5px;
  color: #ccc;
  content: " ";
}
/* line 236, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .active:before {
  padding: 0 5px;
  color: #ccc;
  content: ">  ";
}
/* line 241, ../sass/templateNT.sass */
html body .list-head .head__wrapper .wrapper__breadcrumbs .delimiter {
  display: inline-block;
  color: #bcb9b9;
  font-weight: 100;
}
/* line 245, ../sass/templateNT.sass */
html body .content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 80px;
}
/* line 251, ../sass/templateNT.sass */
html body .content .footer-push {
  background-color: white;
  opacity: 0;
}
/* line 255, ../sass/templateNT.sass */
html body .footer, html body .footer-push {
  position: relative;
  display: block;
  width: 100%;
  z-index: 5;
  height: 80px;
  padding: 50px;
  background-color: #000000;
}
/* line 266, ../sass/templateNT.sass */
html body .footer .logo, html body .footer-push .logo {
  position: relative;
  float: left;
  display: block;
  width: 105px;
  height: 50px;
}
/* line 274, ../sass/templateNT.sass */
html body .footer .logo img, html body .footer-push .logo img {
  position: relative;
  display: block;
}
/* line 278, ../sass/templateNT.sass */
html body .footer .nav, html body .footer-push .nav {
  display: block;
  float: left;
  margin: 0;
  color: white;
  list-style: none;
}
/* line 285, ../sass/templateNT.sass */
html body .footer .nav li, html body .footer-push .nav li {
  display: inline-block;
  margin-right: 20px;
}
/* line 289, ../sass/templateNT.sass */
html body .footer .nav li a, html body .footer-push .nav li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/* line 294, ../sass/templateNT.sass */
html body .footer .nav li a:hover, html body .footer-push .nav li a:hover {
  color: #969696;
}
/* line 297, ../sass/templateNT.sass */
html body .footer .copyright, html body .footer-push .copyright {
  display: block;
  float: right;
  width: 20%;
  color: #8f9092;
  cursor: default;
}
